export ADDR=":5050"
export SENDGRID_API_KEY="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"
export ENV=development
export FROM_EMAIL="danielbrook29@gmail.com"
export REDIS_ENABLED=true
export RATELIMITER_REQUEST=true
