export ADDR=":8080"
export SENDGRID_API_KEY="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"
export ENV=development
export FROM_EMAIL="danielbrook29@gmail.com"
export REDIS_ENABLED=true
export RATELIMITER_REQUEST=true
export AUTH_TOKEN_SECRETS="salomfromUzbekistan9234567qwertyuiopasdfghjkl1234567890"
export AUTH_BASIC_USER="admin"
export AUTH_BASIC_PASS="sh655055sh"
export DB_ADDR="postgres://admin:adminpassword@localhost:5432/app?sslmode=disable"
export EXTERNAL_URL="localhost:8080"